@charset "UTF-8";

/*
 Filename:    diceroller.css
 Author:      Mark Key (cstKEY)
 Course:      CWEB 190 (Internet Programming/Web Applications 1)
 Date:        Winter 2022
 Purpose:     Assignment #1 Sample Solution
 */

#image1, #image2, #image3, #image4, #image5 {
    height: 100px;
    width: 100px;
}

#tblStats td {
    text-align: center;
}
